# AuthType Basic  
# AuthName "restricted area"  
# AuthUserFile /opt/wordpress/dmind/.htpasswd  
# require valid-user

php_value max_execution_time 300

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
